/*Stylesheet for the New York website*/
/*Homepage*/
body {
    background-color: #1F1F1F;
    padding: 20px;
}
nav {
    height: 48px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li a {
    font-family: 'Poppins','Courier New', Courier, monospace;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

nav li a:hover {
    color: #F1AC44;
}

h1 {
    font-family: 'Abril Fatface','Courier New', Courier, monospace;
    font-size: 3em;
    text-align: center;
    color: #F1AC44;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    font-family:'Abril Fatface','Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 20px;
}

h3 {
    font-family:'Poppins','Courier New', Courier, monospace;
    font-size: 1em;
    text-align: center;
    color: white;
    padding-top: 0px;
    padding-bottom: 20px;
}
p {
    color: wheat;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 1em;
}

img {
  width: 300px; 
  padding: 5%;
}

li {
    color: white;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 1.2em;
    list-style: none;
  }

footer {
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: .8em;
  }
.banner {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 750px;
    text-align: center;
    background-image: url(/Media/bg-img\ 1.jpg);
  }
  .banner h1 {
    color: #F1AC44;
  }
.about-nyc {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.subway {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.subway a {
  color: white;
}
.subway a:hover {
  color: #F1AC44;
}
/*Why New York*/
.pop-culture {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pop-culture li {
  color: #F1AC44;
  font-size: 1.3em;
}
.pop-culture ol li {
  color: white;
  font-size: 1em;
}
.history-nyc p {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.history-nyc a{
  color: white;
}
.history-nyc a:hover {
  color: #F1AC44;
}

/*About Me*/
.about-me {
  display: flex;
  flex: 50%;
}
.about-me p {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.about-me img {
  width: 40%;
}
.about-city {
  display: flex;
  flex: 50%;
}
.about-city img {
  width: 40%;
}
.about-city p {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
/*Cities I have Inhabited*/

.cities-table table {
  border-collapse: collapse;
  border-bottom: 1px solid #dddddd;
  font-family: 'Poppins','Courier New', Courier, monospace;
  width: 100%;
  color: bisque;
}
.cities-table td {
  width: 33%;
}